:root {
  --color-1: #7952b3;
  --color-2: #f9a826;
  --color-3: #343a40;
  --color-4: #e1e8eb;
}

body {
  font-family: "ABCDiatype", sans-serif;
}

.bg-color-1 {
  background-color: var(--color-1) !important;
}

.bg-color-2 {
  background-color: var(--color-2) !important;
}

.bg-color-3 {
  background-color: var(--color-3) !important;
}

.bg-color-4 {
  background-color: var(--color-4) !important;
}

/* Showcase Section */
#showcase h1 {
  font-family: "Montserrat", sans-serif;
}

.bi {
  color: var(--color-4);
}

.bi-facebook:hover {
  color: #4267B2;
}
.bi-instagram:hover {
  color: #C13584;
}
.bi-twitter:hover {
  color: #1DA1F2;
}
.bi-linkedin:hover {
  color: #0e76a8;
}
.bi-youtube:hover {
  color: #FF0000;
}

footer a {
  text-decoration: none !important;
  color: #fff !important;
}

footer a:hover {
  color: var(--color-2) !important;
}
