@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

* {
  font-family: Helvetica, sans-serif;
}

#login h1,
#login h3 {
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 999px) {
  #login .col-md:first-child {
    background-color: #f9a826;
  }
}

@media screen and (min-width: 1025px) {
  #login .col-md:first-child {
    min-height: 100vh;
  }
}

.form-control {
  border-radius: 75em;
}
.form-control:focus,
.form-control:active {
  border-color: #7952b3;
  box-shadow: 0 0 0 0.1rem #7952b3;
}

.submit-button {
  background-color: #7952b3;
  border: 0;
  border-radius: 75em;
  color: white;
  padding: 7px 25px;
}
